<section id="slider" class="slider-parallax dark full-screen" style="background: url(assets/images/landing/landing1.jpg) center;">

    <img src="assets/images/landing/landing01xx.png" style="width:100%;">

   <!--  <div style="background: url(assets/images/landing/landing1.jpg) center; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover; height:600px">
      <h1>Adsthetic</h1>
      <h3>The Future of Influencer Discovery</h3>

    </div> -->

    </section>

    <!-- Content
    ============================================= -->
    <section id="content" style="margin: 0;">

      <div class="content-wrap">

        <div class="container clearfix">

          <div id="section-features" class="heading-block title-center page-section">
            <h2>Features Overview</h2>
            <span>Some of the Features that are gonna blow your mind off</span>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="200">
                <a href="#"><img src="assets/images/icons/features/retina.png" alt="Retina Graphics"></a>
              </div>
              <h3>Audience Insights</h3>
              <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="1400">
                <a href="#"><img src="assets/images/icons/features/seo.png" alt="Retina Graphics"></a>
              </div>
              <h3>Automated Discovery</h3>
              <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
            </div>
          </div>


          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="400">
                <a href="#"><img src="assets/images/icons/features/performance.png" alt="Powerful Performance"></a>
              </div>
              <h3>Powerful Performance</h3>
              <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="600">
                <a href="#"><img src="assets/images/icons/features/flag.png" alt="Responsive Layout"></a>
              </div>
              <h3>Endless Possibilities</h3>
              <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="800">
                <a href="#"><img src="assets/images/icons/features/tick.png" alt="Retina Graphics"></a>
              </div>
              <h3>List Building</h3>
              <p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
                <a href="#"><img src="assets/images/icons/features/tools.png" alt="Powerful Performance"></a>
              </div>
              <h3>Fully Customizable</h3>
              <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
            </div>
          </div>

          <div class="clear"></div>



          <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

          <div id="section-pricing" class="heading-block title-center nobottomborder page-section">
            <h2>Pricing Details</h2>
            <span>Our All inclusive Pricing Plan that covers you well</span>
          </div>

          <div class="pricing-box pricing-extended bottommargin clearfix">

            <div class="pricing-desc">
              <div class="pricing-title">
                <h3>How many Themes can you Download today?</h3>
              </div>
              <div class="pricing-features">
                <ul class="iconlist-color clearfix">
                  <li><i class="icon-desktop"></i> Ultra Responsive Layouts</li>
                  <li><i class="icon-eye-open"></i> Retina Ready Designs</li>
                  <li><i class="icon-beaker"></i> Advanced Admin Panel</li>
                  <li><i class="icon-magic"></i> Tons of Customization Options</li>
                  <li><i class="icon-font"></i> Support for Custom Fonts</li>
                  <li><i class="icon-stack3"></i> Premium Sliders Included</li>
                  <li><i class="icon-file2"></i> Photoshop Source Files Included</li>
                  <li><i class="icon-support"></i> 24x7 Priority Email Support</li>
                </ul>
              </div>
            </div>

            <div class="pricing-action-area">
              <div class="pricing-meta">
                As Low as
              </div>
              <div class="pricing-price">
                <span class="price-unit">$</span>39<span class="price-tenure">monthly</span>
              </div>
              <div class="pricing-action">
                <a href="#" class="button button-3d button-large btn-block nomargin">Get Started</a>
              </div>
            </div>

          </div>

          <div class="clear"></div>

        </div>

        <div class="section">

        <div class="section footer-stick">

          <div class="container clearfix">

            <div id="section-buy" class="heading-block title-center nobottomborder page-section">
              <h2>Enough? Start Building!</h2>
              <span>Now that you have read all the Tid-Bits, so start with a plan</span>
            </div>

            <div class="center">

              <a href="#" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>Start your FREE Trial</a> - OR - <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-user2"></i>Sign Up for a Subscription</a>

            </div>

          </div>

        </div>

      </div>

    </section>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content"  style="padding:20px; margin-top: 100px;">

              <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
                </div>

                <div class="form-group has-error">
                  <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                     Please enter your email and password.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                     Please enter a valid email.
                  </p>
                  <p class="help-block">{{ vm.errors.other }}</p>
                </div>

                <div>
                  <button class="btn btn-inverse btn-lg btn-login" type="submit">
                    Login
                  </button>
                  <a href="/signup" style="margin-left: 15px;"> Don't have an account? </a>
                </div>

              </form>

            </div>
          </div>
        </div>



    <!-- #content end -->

<!-- <div id="slider" class="force-full-screen full-screen">

    <div class="force-full-screen full-screen dark" style="background-image: url('assets/images/landing/landing1.jpg');background-position: 50% 0;">

      <div class="container clearfix">
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

              <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

                <div class="form-group">
                  <label>Email</label>

                  <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
                </div>

                <div class="form-group">
                  <label>Password</label>

                  <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
                </div>

                <div class="form-group has-error">
                  <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                     Please enter your email and password.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                     Please enter a valid email.
                  </p>

                  <p class="help-block">{{ vm.errors.other }}</p>
                </div>

                <div>
                  <button class="btn btn-inverse btn-lg btn-login" type="submit">
                    Login
                  </button>
                  <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
                    Register
                  </a>
                </div>

              </form>

            </div>
          </div>
        </div>
        <div class="slider-caption slider-caption-center">
          <h2 data-animate="fadeInDown">Welcome to Canvas</h2>
          <p data-animate="fadeInUp" data-delay="400">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
          <a data-animate="fadeInUp" data-delay="600" href="#" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin" style="margin-top: 30px;">Start Browsing</a>
          <a data-animate="fadeInUp" data-delay="800" href="#" class="button button-3d button-teal button-large nobottommargin" style="margin: 30px 0 0 10px;">Buy Now</a>
          <button id="btn-login" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
        </div>
      </div>

    </div>


  </div>

 -->


<!-- <div class="container">
  
<div class="container">

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">

        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
          </div>

          <div class="form-group">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
          </div>

          <div class="form-group has-error">
            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
               Please enter your email and password.
            </p>
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
               Please enter a valid email.
            </p>

            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">Please enter your email and password.</p>
            <p class="help-block" ng-show="form.email.$error.email && vm.submitted">Please enter a valid email.</p>
            <p class="help-block">{{ vm.errors.other }}</p>
          </div>

          <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
              Login
            </button>
            <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
              Register
            </a>
          </div>

        </form>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <button id="btn-login" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">Login</button>
            <a class="btn btn-default btn-lg btn-register" ui-sref="signup">Register</a>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <button id="btn-login" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
    </div>
    <div nd-show="vm.user.id == null" class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">Please enter your email and password.</p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">Please enter a valid email.</p>
          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">Login</button>
          <a ui-sref="signup" style="margin-left: 15px;"> Don't have an account? </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
 -->